.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

.card{
    border-radius: 2%;
    background-color: rgb(255, 66, 242);
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 4px 8px 16px rgb(250, 72, 203);
    transition: all 0.5s ease-out;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 56, 215, 0.621);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.card::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 2%;
    z-index: 1;
    transition: all 0.5s ease;
    pointer-events: none;
}

.card:hover::before {
    border-color: rgba(255, 255, 255, 0.8);
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}